site_name: supervised_multidimensional_scaling
nav:
  - Home: index.md

theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      project_name: supervised_multidimensional_scaling
      handlers:
        python:
          options:
            docstring_style: numpy