site_name: smds
site_url: https://ukplab.github.io/smds
nav:
  - Home: index.md
  - Examples:
      - Family Tree Experiment: notebooks/family_tree.ipynb
      - Find Manifold Location: notebooks/find_manifold_location.ipynb

theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
  - mkdocs-jupyter:
      execute: false
      include_source: true
      show_input: true