name: Release

on:
  workflow_run:
    workflows: ["Run tests"]
    types:
      - completed
    branches:
      - main

jobs:
  pypi-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    
    if: >
      github.event.workflow_run.conclusion == 'success' && 
      !contains(github.event.workflow_run.head_commit.message, '[skip ci]')
    
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        run: uv python install

      - name: Build package
        run: uv build

      - name: Publish to PyPI
        run: uv publish